<div data-dojo-attach-point="containerNode">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
         data-dojo-props="target:'gmd:DataThemeCode'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
             data-dojo-props="value:'${codeListPrefix}DataThemeCode'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.farming}',value:'farming',selected:true"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.biota}',value:'biota'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.boundaries}',value:'boundaries'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.climatologyMeteorologyAtmospheric}',value:'climatologyMeteorologyAtmospheric'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.economy}',value:'economy'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.elevation}',value:'elevation'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.environment}',value:'environment'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.geoscientificInformation}',value:'geoscientificInformation'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.health}',value:'health'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.imageryBaseMapsEarthCover}',value:'imageryBaseMapsEarthCover'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.intelligenceMilitary}',value:'intelligenceMilitary'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.inlandWaters}',value:'inlandWaters'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.location}',value:'location'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.oceans}',value:'oceans'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.planningCadastre}',value:'planningCadastre'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.society}',value:'society'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.structure}',value:'structure'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.transportation}',value:'transportation'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.utilitiesCommunication}',value:'utilitiesCommunication'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.extraterrestrial}',value:'extraterrestrial'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.disaster}',value:'disaster'"></div>
                </div>
            </div>
        </div>
    </div>
</div>