<div data-dojo-attach-point="containerNode">
     <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
          data-dojo-props="target:'gmd:MarineDataThemeLevel3Code'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
               data-dojo-props="value:'${codeListPrefix}MarineDataThemeLevel3Code'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
               <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                    <div data-dojo-type="esri/dijit/metadata/form/Options">
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.none}',value:'none',selected:true">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.none}',value:'none'"></div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.administrativeCoastline}',value:'administrativeCoastline'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.naturalManmadeCoastline}',value:'naturalManmadeCoastline'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.marineSpatialPlanning}',value:'marineSpatialPlanning'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.hydrodynamics}',value:'hydrodynamics'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.waterQuality}',value:'waterQuality'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.bathymetry}',value:'bathymetry'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.marineSubstrates}',value:'marineSubstrates'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.geomorphicLandformProcesses}',value:'geomorphicLandformProcesses'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.elevation}',value:'elevation'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.wind}',value:'wind'"></div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.coastalMarineHabitat}',value:'coastalMarineHabitat'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.corals}',value:'corals'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.birds}',value:'birds'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.invertebrates}',value:'invertebrates'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.marinePlantsAlgae}',value:'marinePlantsAlgae'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.marineAnimals}',value:'marineAnimals'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.marineProtectedAreas}',value:'marineProtectedAreas'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.environmentalImpactAssessment}',value:'environmentalImpactAssessment'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.climateChange}',value:'climateChange'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.transportCommunication}',value:'transportCommunication'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.utilities}',value:'utilities'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.aquaculture}',value:'aquaculture'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.energy}',value:'energy'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.portFacilities}',value:'portFacilities'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.naturalResources}',value:'naturalResources'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.foreshoreWaterfrontDevelopment}',value:'foreshoreWaterfrontDevelopment'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.hazards}',value:'hazards'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.sedimentation}',value:'sedimentation'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.oilSpillContingency}',value:'oilSpillContingency'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.microbiologicalContamination}',value:'microbiologicalContamination'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.eutrophication}',value:'eutrophication'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.noise}',value:'noise'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.hazardousSubstances}',value:'hazardousSubstances'">
                         </div>
                         <div data-dojo-type="esri/dijit/metadata/form/Option"
                              data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel3Code.recreation}',value:'recreation'">
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>