<div data-dojo-attach-point="containerNode">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
         data-dojo-props="target:'gmd:MarineDataThemeLevel2Code'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
             data-dojo-props="value:'${codeListPrefix}MarineDataThemeLevel2Code'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.encChart}',value:'encChart',selected:true"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.satelliteImagery}',value:'satelliteImagery'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.boundaries}',value:'boundaries'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.hydrographyOceanography}',value:'hydrographyOceanography'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.coastalGeography}',value:'coastalGeography'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.atmosphere}',value:'atmosphere'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.speciesDistributionHabitats}',value:'speciesDistributionHabitats'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.ecosystemServicesFunction}',value:'ecosystemServicesFunction'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.anthropogenic}',value:'anthropogenic'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.infrastructure}',value:'infrastructure'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.economy}',value:'economy'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.management}',value:'management'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                         data-dojo-props="label:'${i18nMpa.mpaMarineDataThemeLevel2Code.societal}',value:'societal'"></div>
                </div>
            </div>
        </div>
    </div>
</div>