<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'geoSG:dataTheme',minOccurs:1,
      label:'${i18nGeoSg.dataThemeCode.caption}', showHeader:true">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}geoSG:dataTheme'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.farming}',value:'1',selected:true">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.biota}',value:'2'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.boundaries}',value:'3'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.climatologyMeteorologyAtmospheric}',value:'4'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.economy}',value:'5'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.elevation}',value:'6'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.environment}',value:'7'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.geoscientificInformation}',value:'8'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.health}',value:'9'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.imageryBaseMapsEarthCover}',value:'10'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.intelligenceMilitary}',value:'1'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.inlandWaters}',value:'12'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.location}',value:'13'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.oceans}',value:'14'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.planningCadastre}',value:'15'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.society}',value:'16'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.structure}',value:'17'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.transportation}',value:'18'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.utilitiesCommunication}',value:'19'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.extraterrestrial}',value:'20'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.dataThemeCode.disaster}',value:'21'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'geoSG:marineDataThemeLevel1',minOccurs:0,
      label:'${i18nGeoSg.marineDataThemeLevel1.caption}', showHeader:true">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}geoSG:marineDataThemeLevel1'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel1.baseMaps}',value:'1',selected:true">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel1.administrative}',value:'2'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel1.physical}',value:'3'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel1.ecological}',value:'4'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel1.human}',value:'5'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'geoSG:marineDataThemeLevel2',minOccurs:0,
    label:'${i18nGeoSg.marineDataThemeLevel2.caption}', showHeader:true">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}geoSG:marineDataThemeLevel2'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.encChart}',value:'1',selected:true">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.satelliteImagery}',value:'2'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.boundaries}',value:'3'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.hydrographyAndOceanography}',value:'4'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.coastalGeography}',value:'5'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.atmosphere}',value:'6'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.speciesDistributionAndHabitats}',value:'7'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.ecosystemServicesAndFunctions}',value:'8'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.anthropogenic}',value:'9'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.infrastructure}',value:'10'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.economy}',value:'11'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.management}',value:'12'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel2.societal}',value:'13'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'geoSG:marineDataThemeLevel3',minOccurs:0,
    label:'${i18nGeoSg.marineDataThemeLevel3.caption}', showHeader:true">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}geoSG:marineDataThemeLevel3'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.none}',value:'1',selected:true">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.administrativeCoastline}',value:'2'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.naturalAndManmadeCoastline}',value:'3'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.marineSpatialPlanning}',value:'4'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.hydrodynamics}',value:'5'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.waterQuality}',value:'6'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.bathymetry}',value:'7'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.marineSubstates}',value:'8'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.geomorphicLandformAndProcesses}',value:'9'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.elevation}',value:'10'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.wind}',value:'11'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.coastalAndMarineHabitat}',value:'12'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.corals}',value:'13'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.birds}',value:'14'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.invertebrates}',value:'15'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.marinePlantsAndAlgae}',value:'16'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.marineAnimals}',value:'17'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.marineProtectedAreas}',value:'18'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.environmentalImpact}',value:'19'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.climateChange}',value:'20'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.transportAndCommunication}',value:'21'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.utilities}',value:'22'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.aquaculture}',value:'23'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.energy}',value:'24'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.portFacilitesMaritimeIndustry}',value:'25'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.naturalFacilities}',value:'26'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.foreshoreAndWaterfrontDevelopment}',value:'27'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.hazards}',value:'28'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.sedimentation}',value:'29'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.oilSpillContingency}',value:'30'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.microbiologicalContamination}',value:'31'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.eutrophication}',value:'32'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.noise}',value:'33'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.hazardousSubstances}',value:'34'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGeoSg.marineDataThemeLevel3.recreation}',value:'35'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>