<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:dateStamp',
    label:'${i18nGeoSg.generalInformation.dateTab.metadataDateStamp}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Date'">
      <div data-dojo-type="esri/dijit/metadata/form/InputDate" data-dojo-props="useNow:true"></div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:metadataCreatedDate',
    label:'${i18nGeoSg.generalInformation.dateTab.metadataCreatedDate}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Date'">
      <div data-dojo-type="esri/dijit/metadata/form/InputDate" data-dojo-props="useNow:true"></div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:metadataLastUpdatedDate',
    label:'${i18nGeoSg.generalInformation.dateTab.metadataLastUpdatedDate}',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
      data-dojo-props="target:'gco:Date'">
      <div data-dojo-type="esri/dijit/metadata/form/InputDate" data-dojo-props="useNow:true"></div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:dataLastUpdatedDate',
    label:'${i18nGeoSg.generalInformation.dateTab.dataLastUpdatedDate}',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Date'">
      <div data-dojo-type="esri/dijit/metadata/form/InputDate" data-dojo-props="useNow:true"></div>
    </div>
  </div>

</div>