<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'geoSG:MD_Metadata',label:'${i18nGeoSg.documentTypes.data.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/generalInformation/GeneralInformation"
        data-dojo-props="label:'${i18nGeoSg.sections.generalInformation}'"></div>

      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/metadataIdentification/MetadataIdentification"
        data-dojo-props="label:'${i18nGeoSg.sections.metadataIdentification}'"></div>

      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/distributionInformation/Distribution"
        data-dojo-props="label:'${i18nGeoSg.sections.distribution}'"></div>

      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/entityAndAttribute/EntityAndAttribute"
        data-dojo-props="label:'${i18nGeoSg.sections.entityAndAttribute}'"></div>

      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/dataQuality/DataQuality"
        data-dojo-props="label:'${i18nGeoSg.sections.dataQuality}'"></div> 

      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/others/Others"
        data-dojo-props="label:'${i18nGeoSg.sections.others}'"></div> 
    </div>
  </div>
</div>