<div class="g-item-card rom"
  data-dojo-attach-point="containerNode"
  data-dojo-attach-event="onmouseenter: _mouseenter, onmouseleave: _mouseleave">
  <div class="g-item-title" data-dojo-attach-point="titleNode"></div>
  <div>
    <div class="g-item-owner-and-date pull-left clearfix" data-dojo-attach-point="ownerAndDateNode"></div>
    <!-- Specific for MPA -->
	  <div class="g-item-data-classification pull-left clearfix" data-dojo-attach-point="dataClassificationNode"></div>
    <div class="g-item-description pull-left clearfix" data-dojo-attach-point="descriptionNode"></div> 
	  <img class="g-item-thumbnail" alt="Thumbnail" data-dojo-attach-point="thumbnailNode"/>
  </div>
  <div class="g-item-actions clearfix" data-dojo-attach-point="actionsNode"></div>
  <div class="g-item-identification" data-dojo-attach-point="idNode"></div>
</div>