<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'geoSG:distributionContact',minOccurs:1,
    label:'${i18nGeoSg.distribution.contact}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:distributionName',
        label:'${i18nGeoSg.distribution.distributionContact.distributionName}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:distributionOrganisation',
        label:'${i18nGeoSg.distribution.distributionContact.distributionOrganisation}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:distributionEmail',
        label:'${i18nGeoSg.distribution.distributionContact.distributionEmail}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:distributionPhone',
        label:'${i18nGeoSg.distribution.distributionContact.distributionPhone}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>
  </div>

</div>