<div data-dojo-attach-point="containerNode">
    <!-- specific for MPA -->
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
         data-dojo-props="target:'gmd:dataTheme',minOccurs:1,
        label:'${i18nMpa.mpaDataThemeCode.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/mpa/gmd/dataTheme/DataThemeCode"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
         data-dojo-props="target:'gmd:marineDataThemeLevel2',minOccurs:1,
        label:'${i18nMpa.mpaMarineDataThemeLevel2Code.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/mpa/gmd/dataTheme/MarineDataThemeLevel2Code"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
         data-dojo-props="target:'gmd:marineDataThemeLevel3',minOccurs:1,
        label:'${i18nMpa.mpaMarineDataThemeLevel3Code.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/mpa/gmd/dataTheme/MarineDataThemeLevel3Code"></div>
    </div>
</div>