<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'geoSG:others',
    label:'${i18nGeoSg.sections.others}', showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      <div data-dojo-type="app/gxe/types/geospatial-sg/gmd/others/ResourceExtent"
        data-dojo-props="label:'${i18nGeoSg.others.extent}'"></div>

      <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceThumbnail"
        data-dojo-props="label:'${i18nIso.identificationSection.thumbnail}'"></div>
    </div>
  </div>
</div>