<div data-dojo-attach-point="containerNode">
    <!-- specific for MPA -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:dataTheme',minOccurs:1,
        label:'${i18nMpa.mpaDataThemeCode.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
            <div data-dojo-type="esri/dijit/metadata/form/Options">
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.farming}',value:'farming',selected:true">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.biota}',value:'biota'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.boundaries}',value:'boundaries'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.climatologyMeteorologyAtmospheric}',value:'climatologyMeteorologyAtmospheric'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.economy}',value:'economy'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.elevation}',value:'elevation'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.environment}',value:'environment'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.geoscientificInformation}',value:'geoscientificInformation'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.health}',value:'health'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.imageryBaseMapsEarthCover}',value:'imageryBaseMapsEarthCover'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.intelligenceMilitary}',value:'intelligenceMilitary'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.inlandWaters}',value:'inlandWaters'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.location}',value:'location'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.oceans}',value:'oceans'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.planningCadastre}',value:'planningCadastre'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.society}',value:'society'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.structure}',value:'structure'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.transportation}',value:'transportation'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.utilitiesCommunication}',value:'utilitiesCommunication'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.extraterrestrial}',value:'extraterrestrial'">
                </div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nMpa.mpaDataThemeCode.disaster}',value:'disaster'">
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:marineDataThemeLevel2',minOccurs:1,
        label:'${i18nMpa.mpaMarineDataThemeLevel2Code.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-attach-point="marineDataThemeLevel2"
            style="display: none;"></div>
        <select data-dojo-props="target:'gmd:marineDataThemeLevel2'" data-dojo-attach-event="onChange: populate"
            id="level2List">
            <option value="-">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.none}
            </option>
            <option value="encChart">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.encChart}
            </option>
            <option value="satelliteImagery">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.satelliteImagery}
            </option>
            <option value="boundaries">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.boundaries}
            </option>
            <option value="hydrographyOceanography">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.hydrographyOceanography}
            </option>
            <option value="coastalGeography">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.coastalGeography}
            </option>
            <option value="atmosphere">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.atmosphere}
            </option>
            <option value="speciesDistributionHabitats">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.speciesDistributionHabitats}
            </option>
            <option value="ecosystemServicesFunction">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.ecosystemServicesFunction}
            </option>
            <option value="anthropogenic">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.anthropogenic}
            </option>
            <option value="infrastructure">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.infrastructure}
            </option>
            <option value="economy">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.economy}
            </option>
            <option value="management">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.management}
            </option>
            <option value="societal">
                ${i18nMpa.mpaMarineDataThemeLevel2Code.societal}
            </option>
        </select>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:marineDataThemeLevel3',minOccurs:1,
        label:'${i18nMpa.mpaMarineDataThemeLevel3Code.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-attach-point="marineDataThemeLevel3"
            style="display: none;"></div>
        <select data-dojo-props="target:'gmd:marineDataThemeLevel3'" data-dojo-attach-event="onChange: setValue"
            id="level3List">
            <option value="-">
                ${i18nMpa.mpaMarineDataThemeLevel3Code.none}
            </option>
        </select>
    </div>
</div>