<div data-dojo-attach-point="containerNode">

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:abstract',
        label:'${i18nIso.AbstractMD_Identification.sAbstract}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
            <div data-dojo-type="esri/dijit/metadata/form/InputTextArea" data-dojo-props="large:true"></div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'mpa:mainUpdateFrequency',minOccurs:1,
        label:'${i18nMpa.identificationSection.descriptionTab.mainUpdateFreq}', showHeader:true">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
            data-dojo-props="value:'${codeListPrefix}mpa:mainUpdateFrequency'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.continual}',value:'1',selected:true">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.daily}',value:'2'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.weekly}',value:'3'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.fortnightly}',value:'4'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.monthly}',value:'5'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.quarterly}',value:'6'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.biannually}',value:'7'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.annually}',value:'8'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.asNeeded}',value:'9'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.irregular}',value:'10'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.notPlanned}',value:'11'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.unknown}',value:'12'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.periodic}',value:'13'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.semiMonthly}',value:'14'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.frequency.biennially}',value:'15'">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'gmd:geometricObjectType',minOccurs:1,
        label:'${i18nMpa.identificationSection.descriptionTab.geometricObjectType}', showHeader:true">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
            data-dojo-props="value:'${codeListPrefix}gmd:geometricObjectType'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.annotation}',value:'1',selected:true">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.complex}',value:'2'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.composite}',value:'3'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.curve}',value:'4'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.point}',value:'5'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.solid}',value:'6'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.surface}',value:'7'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.raster}',value:'8'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.textual}',value:'9'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.geometricObjectType.model}',value:'10'">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:purpose',minOccurs:0,
        label:'${i18nMpa.identificationSection.descriptionTab.purpose}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
            <div data-dojo-type="esri/dijit/metadata/form/InputTextArea" data-dojo-props="large:true"></div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'gmd:status',minOccurs:0,
        label:'${i18nMpa.identificationSection.descriptionTab.status}', showHeader:true">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
            data-dojo-props="value:'${codeListPrefix}gmd:status'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.completed}',value:'1',selected:true">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.historicalArchive}',value:'2'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.obsolete}',value:'3'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.ongoing}',value:'4'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.planned}',value:'5'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.required}',value:'6'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.underDevelopment}',value:'7'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.final}',value:'8'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.pending}',value:'9'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.retired}',value:'10'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.superseded}',value:'11'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.tentative}',value:'12'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.valid}',value:'13'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.accepted}',value:'14'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.notAccepted}',value:'15'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.withdrawn}',value:'16'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.purposed}',value:'17'">
                    </div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                        data-dojo-props="label:'${i18nMpa.statusCode.deprecated}',value:'18'">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:credit',minOccurs:0,maxOccurs:'unbounded',
        label:'${i18nMpa.identificationSection.descriptionTab.credits}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
        </div>
    </div>

</div>