<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'geoSG:DQ_Scope',minOccurs:0,label:'${i18nGeoSg.qualitySection.scope}',showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'geoSG:DQ_ScopeQuality',minOccurs:1,
      label:'${i18nGeoSg.qualitySection.scopeTab.scopeQuality}', showHeader:true">
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
        data-dojo-props="value:'${codeListPrefix}geoSG:DQ_ScopeQuality'"></div>
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.attribute}',value:'1'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.attributeType}',value:'2'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.collectionHardware}',value:'3'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.collectionSession}',value:'4'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.dataset}',value:'5'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.series}',value:'6'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.nonGeographicDataset}',value:'7'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.dimensionGroup}',value:'8'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.feature}',value:'9'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.featureType}',value:'10'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.propertyType}',value:'11'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.fieldSession}',value:'12'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.software}',value:'13'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.service}',value:'14'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.model}',value:'15'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.tile}',value:'16'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.metadata}',value:'17'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.initiative}',value:'18'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.sample}',value:'19'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.document}',value:'20'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.repository}',value:'21'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.aggregate}',value:'22'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.product}',value:'23'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.collection}',value:'24'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.coverage}',value:'25'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nGeoSg.dataQualityScope.application}',value:'26'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:DQ_NameType',minOccurs:1,
          label:'${i18nGeoSg.qualitySection.scopeTab.nameType}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:DQ_Name',minOccurs:1,
          label:'${i18nGeoSg.qualitySection.scopeTab.name}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:DQ_Alias',minOccurs:0,
          label:'${i18nGeoSg.qualitySection.scopeTab.alias}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:DQ_ElementName',minOccurs:1,
          label:'${i18nGeoSg.qualitySection.scopeTab.elementName}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'geoSG:DQ_BaseMeasure',minOccurs:1,
          label:'${i18nGeoSg.qualitySection.scopeTab.baseMeasure}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
      </div>
    </div>

  </div>
</div>